<div>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button>{{ button_label|default('Retenir ainsi')}}</button>
    {{ form_end(form) }}
    <a href="{{ path('admin.merlin_speech.index') }}">Abandonner</a>
</div>