{% extends "base.html.twig" %}

{% block title %}Admin - Merlin{% endblock %}


{% block body %}
<h1>Merlin se souvient...</h1>

{% for message in app.flashes('success') %}
<div>{{ message }}</div>
{% endfor %}

<section>
    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Suject</th>
                <th>Véridique</th>
                <th>À été dit</th>
                <th>Texte</th>
            </tr>
        </thead>
        <tbody>
            {% for speech in speeches %}
            <tr>
                <td>{{ speech.id }}</td>
                <td>{{ speech.subject }}</td>
                <td>{{ (speech.truthful ? 'oui' : 'non') }}</td>
                <td>{{ (speech.lastOccurrence ? speech.lastOccurrence : 'jamais') }}</td>
                <td>{{ speech.text|raw }}</td>
                <td>
                    <a href="{{ path('admin.merlin_speech.edit', {id: speech.id}) }}">Réviser</a>
                    <form method="POST" action="{{ path('admin.merlin_speech.delete', {id: speech.id}) }}"
                        onsubmit="return confirm('{{ delete_confirm_message }}')">
                        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ speech.id) }}">
                        <input type="hidden" name="_method" value="DELETE">
                        <button>Oublier</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <div>
        <a href="{{ path('admin.merlin_speech.create') }}">Méditer une nouvelle pensée</a>
    </div>
</section>
{% endblock %}