<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title> 
    {{ encore_entry_link_tags('app') }}

    
    {% block stylesheets %}{% endblock %}
</head>

<body>
    <nav>
        <ul>
            <li><a href="{{ path('home') }}">Accueil</a></li>
            <li><a href="{{ path('merlin_speech_index') }}">Dires de Merlin</a></li>
            <li><a href="{{ path('subject_index') }}">Sujets</a></li>
            <li><a href="{{ path('personage_index') }}">Personnages</a></li>
            <li><a href="{{ path('personage_speech_index') }}">Discours</a></li>
        </ul>
    </nav>

    <div>
        {% if is_granted('ROLE_USER') %}
        <p>Le maître est présent</p>
        <div><a href="{{ path('app_logout') }}">Repasser le portail</a></div>
        {% else %}
        <p>Le maître est absent</p>
        <div><a href="{{ path('app_login') }}">Passer le portail</a></div>
        {% endif %}
    </div>

    {% block body %}
    {% endblock %}

    {{ encore_entry_script_tags('app') }}
    {#
    <script src="{{ asset('libraries/ckeditor/adapters/jquery.js') }}" type="text/javascript"></script>
    <script src="{{ asset('libraries/ckeditor/ckeditor.js') }}" type="text/javascript"></script>
    <script src="{{ asset('libraries/jquery/jquery.min.js') }}"></script>
    <script type="text/javascript">
        $(function () {
            $('textarea.ckeditor').ckeditor();
        });
    </script>
    #}
    {% block javascripts %}{% endblock %}
</body>

</html>