{% extends 'base.html.twig' %}

{% block title %}MerlinSpeech{% endblock %}

{% block body %}
    <h1>MerlinSpeech</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Fair</th>
                <td>{{ merlin_speech.fair ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>Content</th>
                <td>{{ merlin_speech.content }}</td>
            </tr>
            <tr>
                <th>Created_at</th>
                <td>{{ merlin_speech.createdAt ? merlin_speech.createdAt|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Id</th>
                <td>{{ merlin_speech.id }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('merlin_speech_index') }}">back to list</a>

    <a href="{{ path('merlin_speech_edit', {'id': merlin_speech.id}) }}">edit</a>

    {{ include('merlin_speech/_delete_form.html.twig') }}
{% endblock %}
